body {
	cursor: url(/MeuPerfil/imagens/cursor/rocket_3.png), default;
	cursor: url(/MeuPerfil/imagens/cursor/rocket_3.png), pointer;
	background-image: url(/MeuPerfil/imagens/background.jpg);
	background-size: 100%;
}

.fundo {
	background-color: white;
	width: 100%;
	height: 745px;
	opacity: 0;
}


/*tracker {
	position: fixed;
	transform: translate(-50%, -50%);
	width: 40px;
	z-index: 9999;
	pointer-events: none;
	transition: all .15s;
  }
.tracker svg{
	width: 100%;
	height: 100%;
}*/

h1 {
	position: absolute;
	
	
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 20px;
	color: #FFFFFF;
	margin-top: 5;
	margin-left: 15px;
	padding-right: 0%;
	margin-right: 0;
	padding-left: 20px;

}

#segundaLinha {
	position: absolute;
	
	
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #FFFFFF;
	line-height: 120px;
	padding-right: 0%;
	margin-left: 15px;
	margin-right: 0;
}

header {
	position: absolute;
	left: 0.34%;
	right: 0.45%;
	top: 1.02%;
	bottom: 80.89%;
	
	background: rgba(35, 54, 90, 0.45);
	backdrop-filter: blur(2px);
	
	border-radius: 5px;
	
	
}

#botaoSobre {
	position: absolute;
	left: 62.88%;
	right: 33.21%;
	top: 12.76%;
	bottom: 84.34%;
	width: 65.5px;
	height: 26px;
	
	margin: 75px 0 0 15px;
	border-radius: 5px;

}
#botaoProjetos {
	position: absolute;
	left: 70.32%;
	right: 23.85%;
	top: 12.76%;
	bottom: 84.34%;
	width: 91px;
	height: 26px;
	
	margin: 75px 0 0 15px;
	border-radius: 5px;

}
#botaoExperiencia {
	position: absolute;
	left: 79.68%;
	right: 12.63%;
	top: 12.76%;
	bottom: 84.61%;
	width: 124px;
	height: 26px;
	
	margin: 75px 0 0 15px;
	border-radius: 5px;

}
#botaoContato {
	position: absolute;
	left: 90.9%;
	right: 3.85%;
	top: 12.76%;
	bottom: 84.61%;
	width: 84px;
	height: 26px;
	margin: 75px 0 0 15px;
	border-radius: 5px;
	
}

.botoes{
	opacity: .5;
    transition: opacity .5s ease-out;
}

botoes:hover {
	opacity: 1;
}

nav {
	display: inline-block;
	
}

nav li {
	display: flex;
	margin: 75px 0 0 15px;
	
	
	
}

nav a {
	position: absolute;
	top: 12.76%;
	bottom: 84.34%;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	color: #FFFFFF;
	cursor: url(/MeuPerfil/imagens/cursor/rocket_3.png), pointer;
}

#sobre {
	position: absolute;
	left: 62.88%;
	right: 33.21%;
	top: 12.76%;
	bottom: 84.34%;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#projetos {
	position: absolute;
	left: 70.32%;
	right: 23.85%;
	top: 12.76%;
	bottom: 84.34%;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#experiencia {
	position: absolute;
	left: 79.68%;
	right: 12.63%;
	top: 12.76%;
	bottom: 84.61%;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#contato{
	position: absolute;
	left: 90.9%;
	right: 3.85%;
	top: 12.76%;
	bottom: 84.61%;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	color: #FFFFFF;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav a:hover {
	color: rgb(0, 0, 0);
    /*transform: scale(1.1); 
	transition-duration: 1s;*/
	
}

#caixaDoSobre {
	position: absolute;
	left: 4.13%;
	right: 4.25%;
	top: 24.23%;
	bottom: 13.65%;
	
	background: rgba(35, 54, 90, 0.6);
	backdrop-filter: blur(2px);

	
	border-radius: 10px;
}

#textoSobre {
	position: absolute;
	left: 10.77%;
	right: 35.26%;
	top: 33.42%;
	bottom: 23.29%;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	
	color: #FFFFFF;
}

#caixaImg {
	position: absolute;
	left: 71.92%;
	right: 11.6%;
	top: 33.42%;
	bottom: 32.89%;

	background: rgba(217, 217, 217, 0.05);
	box-shadow: 0px 0px 3px #000000;
	border-radius: 5px;
}
#imagemPerfil {
	

	position: absolute;
	left: 71.92%;
	right: 11.6%;
	top: 33.42%;
	bottom: 32.76%;

	background: url(quad7.png);
	border-radius: 5px;
}

#nomePerfil {
	position: absolute;
	left: 71.92%;
	right: 11.6%;
	top: 59%;
	bottom: 32.89%;
	font-family: Arial, Helvetica, bold;
	font-size: 28px;
	text-align: center;
	
}

#caixaNome {
	position: absolute;
	left: 71.92%;
	right: 11.6%;
	top: 62.37%;
	bottom: 32.89%;
	
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
	
	border-radius: 5px;
}




#icon_map {
	width: 22.66px;
	height: 23.34px;

	position: absolute;
	left: 73.01%;
	right: 25.53%;
	top: 68.82%;
	bottom: 28.11%;

	opacity: 0.85;
}

#textMap {
	position: absolute;
	left: 75.26%;
	right: 14.42%;
	top: 68.2%;
	bottom: 28.42%;

	font-family: 'Arial';
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	line-height: 0px;

	color: #FFFFFF;
	opacity: 0.85;

}

#icon_aniv {
	width: 31.37px;
	height: 23.34px;

	position: absolute;
	left: 72.69%;
	right: 25.3%;
	top: 73.68%;
	bottom: 23.24%;

	
	opacity: 0.85;
}

#textAniv {
	position: absolute;
	left: 75.26%;
	right: 17.88%;
	top: 74.08%;
	bottom: 23.55%;

	font-family: 'Arial';
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	line-height: 0px;

	color: #FFFFFF;
	opacity: 0.85;

}

#caixaRodape {
	position: absolute;
	left: 44.17%;
	right: 44.17%;
	top: 97.76%;
	bottom: 0%;

	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(2px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 3px;
}

#imgRodape {
	position: absolute;
	left: 45.9%;
	right: 53.4%;
	top: 97.76%;
	bottom: 0.26%;


	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

#textRodape {
	position: absolute;
	left: 47.18%;
	right: 45.77%;
	top: 96.5%;
	bottom: 0.26%;

	font-family: 'Zilla Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;

	color: #FFFFFF;

	text-shadow: 0px 0.5px 2px #000000;
}