body {
	font-family: 'Montserrat', sans-serif;
	background-image: url("/MeuPerfil/imagens/background.jpg");
}

.tracker {
	position: fixed;
	transform: translate(-50%, -50%);
	width: 40px;
	z-index: 9999;
	pointer-events: none;
	transition: all .15s;
  }
.tracker svg{
	width: 100%;
	height: 100%;
}



h1 {
	position: absolute;
	left: 3.72%;
	right: 91.41%;
	top: 4.74%;
	bottom: 90.53%;
	
	font-family: 'Maiden Orange';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #FFFFFF;
	margin-top: 0%;
	margin-left: 0;

}

#segundaLinha {
	position: absolute;
	left: 3.72%;
	right: 71.47%;
	top: 9.74%;
	bottom: 85.53%;
	
	font-family: 'Maiden Orange';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #FFFFFF;
	line-height: 120px;
}

header {
	position: absolute;
	left: 0.34%;
	right: 0.45%;
	top: 1.02%;
	bottom: 80.89%;
	
	background: rgba(35, 54, 90, 0.45);
	backdrop-filter: blur(2px);
	
	border-radius: 5px;
}

.caixa {
	position: absolute;
	width: 90%;
	margin-top: 22px;
	margin-left: 33px;
	padding: 0;
}

nav {
	position: relative;
	top: 0px;
	right: 0;
    justify-items: center;
	text-align: right;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 17px;
	text-decoration-line: underline;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}

nav a:hover {
	color: #38B6FF;
	text-decoration: underline;
}

#caixaDoSobre {
	position: absolute;
	left: 4.13%;
	right: 4.25%;
	top: 24.23%;
	bottom: 13.65%;

	background: rgba(35, 54, 90, 0.6);
	backdrop-filter: blur(2px);

	border-radius: 10px;
}

#textoSobre {
	position: absolute;
	left: 8.6%;
	right: 37.43%;
	top: 38.23%;
	bottom: 27.47%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #FFFFFF;
}

#caixaNome {
	position: absolute;
	left: 69.94%;
	right: 7.71%;
	top: 59.22%;
	bottom: 36.18%;

	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(2px);

	border-radius: 5px;
}

#nomePerfil {
	position: absolute;
	left: 73.74%;
	right: 11.62%;
	top: 57.5%;
	bottom: 37.37%;

	font-family: 'Arial';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 22px;

	color: #000000;
	text-align: center;
}